# Ignore node_modules directory
MobileApp/node_modules
Server/node_modules
WebClient/node_modules
ReactNative/node_modules
ReactNativeApp/node_modules

# Ignore compiled files
*.o
*.out

# Ignore logs and databases
*.log
*.sqlite

# Ignore environment-specific files
.env
